@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Courgette&display=swap');

#home{
  background-image: url('../images/girl.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
  }


  #title{
    font-size: 550%;
    left:400px;
    top:200px;
    position:absolute;
    font-family: 'Courgette',sans-serif;
  }

  #shopBtn{
    left:400px;
    top:550px;
    position:absolute;
    width: 200px;
    height:60px;
    font-size: 30px;
    background-color: black;
    border: rgb(248, 183, 62) solid 1px;
    color:rgb(248, 183, 62);

  }

  #shopBtn:hover{
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  }